<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="weather" href="/tabs/weather">
      <ion-icon aria-hidden="true" name="thunderstorm-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="translate" href="/tabs/translate">
      <ion-icon aria-hidden="true" name="language-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
