.weather-info {
    text-align: center;
    margin-top: 20px;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1.2rem;
      margin: 5px 0;
    }
  }
  
  .content-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .app-description {
    font-size: 1.3rem;
    color: #555;
    margin: 20px;
    line-height: 1.6;
  }

  .custom-title {
    width: 100%;
    text-align: center;
    display: block;
  }
  
  .custom-header {
    margin-top: 30px;
  }

  .gradient-text {
    width: 100%;
    text-align: center;
    display: block;
    background: linear-gradient(90deg, gold, rgb(95, 233, 95), rgb(101, 222, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 3s infinite alternate;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  .large-title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  form {
    margin-bottom: 20px;
  
    ion-item {
      margin-bottom: 10px;
    }
  
    ion-button {
      --background: #3880ff;
      --background-activated: #3171e0;
    }
  }
  
  .button-spaced {
    margin: 0 16px;
  }
  