<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="gradient-text large-title">
      Sky Talk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-text-center">
      <ion-title size="large" class="gradient-text large-title">Sky Talk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <p class="app-description">
      This app allows you to see weather and translate text.
      <br><br>
      Enjoy the fun, convenience, and safety of using Sky Talk. It is designed to be easy to use and provide the best experience.
    </p>
  </div>
</ion-content>
